<h3>Add a new model</h3><br />

{{input value=model.firstName placeholder="first name"}}
{{#form-field className="red" field="firstName" model=model validation=firstNameValidation}}Invalid first name{{/form-field}}

{{input value=model.lastName placeholder="last name"}}
{{#form-field className="blue" field="lastName" model=model validation=lastNameValidation}}Invalid last name{{/form-field}}

<b>{{model.fullName}}</b>

<button {{action "save"}}>Save</button>
