<h3>Add a new model</h3><br />

{{input value=model.firstName placeholder="first name"}}
{{input value=model.lastName placeholder="last name"}}

<b>{{model.fullName}}</b>

<button {{action "save"}}>Save</button>
