<h3>Add a new model</h3><br />

<div>
  {{input value=model.firstName placeholder="first name"}}
  {{#validation-error-field submitted=submitted className="red" field="firstName" model=model validation=firstNameValidation}}invalid first name{{/validation-error-field}}
</div><br />

<div>
  {{input value=model.lastName placeholder="zip code validation"}}
  {{#validation-error-field submitted=submitted className="blue" field="lastName" model=model validation=lastNameValidation}}invalid zip code{{/validation-error-field}}
</div><br />

<div>
  {{input value=model.email placeholder="email"}}
  {{#validation-error-field delayed=true submitted=submitted field="email" model=model validation=emailValidation}}invalid email{{/validation-error-field}}
</div><br />

<button {{action "save"}}>Save</button>
